 * {   
      text-align: center;
     }
     body {
      background-color: antiquewhite;
      color:brown;
      font-family: Oswald, sans-serif;
      font-size: 25px;
      font-weight: 300;
     }
     ul{ list-style-image :url(images/banner.jpg) ;}
     #baner {
      background-image:url(images/1920\ Baner\ 1080\ .jpg) ;
      background-attachment: fixed;
      padding: 100px 50px;
      min-height: 500px;
     }
     .button { 
        font-family: Oswald, sans-serif;
        background-color:brown;
        border: none;
        color: white;
        padding: 16px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 24px;
        margin: 4px 2px;
        transition: duration 0.4s ;
        cursor: pointer;
      }
      .button1{
        background-color: white;
        color: black;
        border: 2px solid rgb(3, 1, 1) ;
       }
       .button1:hover{
        background-color:  brown;;
        color: white;
        }
     a{
        text-decoration: none;
        color: brown;
        font-size: 30px;
        font-weight: 400
      }
      @import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,600);	

html {
  border-top: 5px solid #fff;
  background: #58DDAF;
  color: #2a2a2a;
}

html, body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans';
}

* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 800px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: 100%fit-content;
  margin-top: -22px;
  padding: 16px;
  color: rgb(18, 16, 16);
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #111111;
  font-size: 14px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}